{% include '@acp/sec-header.html.twig' %}
{# Privacy Policy #}
{# mb-[450px] #}
<main style="margin-bottom:40px;"
      class="container   mx-auto px-4 sm:px-6 lg:px-8 py-12"
    >
<div id="pageNavigation" class="flex gap-1 my-6 items-center container mx-auto">
			{% if language.id == 'ar' %}
				<a href="{{ path('<front>') }}" class="text-gray-100 hover:text-gray-200">الرئيسية</a>

				<!-- Separator (Arrow pointing left for Arabic) -->
				<svg class="w-4 h-4 text-green-400 rotate-180" fill="none" stroke="currentColor" stroke-width="2" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
				</svg>

				<!-- Contact Us (Arabic) -->
				<a href="{{ url('<front>') }}/node/1" class="text-green-400 hover:text-green-400">سياسة الخصوصية</a>

			{% else %}
				<a href="{{ path('<front>') }}" class="text-green-400 hover:text-green-400">Home</a>

				<!-- Separator (Normal direction for English) -->
				<svg class="w-4 h-4 text-green-400" fill="none" stroke="currentColor" stroke-width="2" viewbox="0 0 24 24">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
				</svg>

				<!-- Contact Us (English) -->
				<a href="{{ url('<front>') }}privacy-policy" class="text-green-400 hover:text-green-400">Privacy Policy</a>
			{% endif %}
		</div>


     {% if language.id == 'ar' %}
     <div class="privacy-policy-arabiccontent" >
         
                {{page.privacyPolicyArabic}}
     </div>
              {% else %}
              <div class="privacy-policy-content" >
               {{page.privacyPolicy}}
               </div>
              {% endif %}
    
    </main>
    <div style="padding-bottom:30px;"></div>


{% include '@acp/footer.html.twig' %}